.new-password {
    width: 440px;
    padding: 40px;
    margin: auto;
    background-color: var(--white);
    border: 1px solid #e7e7ea;
    border-radius: 10px;
}

.new-header {
    display: flex;
    align-items: center;
    gap: 15px;

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        padding: 12px;
        border-radius: 100%;
        background-color: var(--secondary);
    }

    .content {
        & h2 {
            font-size: 2rem;
            font-weight: 800;
            line-height: calc(30 / 20);
            color: #414357;
        }

        & h5 {
            margin-top: 6px;
            font-size: 1.3rem;
            font-weight: 600;
            color: #a0a1ab;
        }
    }
}

.forgot-form {
    margin-top: 40px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    & label {
        font-size: 1.3rem;
        font-weight: 600;
        color: #414357;
    }

    & input {
        width: 100%;
        height: 40px;
        padding: 14px;
        border: 1px solid #e7e7ea;
        border-radius: 6px;
        margin-top: 10px;
        margin-bottom: 20px;
        outline: none;
    }

    & a {
        margin-top: 20px;
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--secondary-color);
        text-align: center;
        text-decoration: none;
    }
}
