.forgot-password {
    width: 440px;
    padding: 40px;
    margin: auto;
    background-color: var(--secondary);
}

.forgot-header {
    display: flex;
    align-items: center;
    gap: 15px;

    .icon {
        width: 44px;
        height: 44px;
        padding: 12px;
        border-radius: 100%;
        background-color: red;
    }
}
