.forgot-password {
    width: 440px;
    padding: 40px;
    margin: auto;
    background-color: var(--secondary);
}

.forgot-header {
    display: flex;
    align-items: center;
    gap: 15px;

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        padding: 12px;
        border-radius: 100%;
        background-color: red;
    }

    .content {
        & h2 {
            font-size: 2rem;
            font-weight: 800;
            line-height: calc(30 / 20);
            color: #414357;
        }

        & h5 {
            margin-top: 6px;
            font-size: 1.3rem;
            font-weight: 600;
        }
    }
}
